body {
    margin: 0px;
    padding: 0px;
}

section, footer {
    padding: 20px;
}
footer {
    background-color: darkgrey;
    color: white;
    clear: both;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

/* Front Logo */

.logo {
    background-image: url("../img/Logo.jpg");

    min-height: 700px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Responsive */

@media all and (min-width: 550px){
    ul {
        background-color: rgb(128,128,128);
        border-top: 1px solid white;
    }
    li {
        display: inline-block;
        border: none;
    }
}

@media all and (min-width: 920px) {
    section#nieuws {
        width: 30%;
        float: left;
    }

    article {
        display: inline-block;
        width: 90%;
        margin-right: 20px;
    }

    article:nth-child(even) {
        margin-right: 0px;
    }

}

@media all and (min-width: 1200px) {
    div#wrapper {
        width: 1200px;
        margin: auto;
    }
}